.card {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.card:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.img {
  min-width: 300px;
  max-height: 300px;
  outline: 1px solid rgba(0, 0, 0, 0.25);
}
.truncate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 5px;
}
.button {
  background-color: white;
  padding: 4px 10px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
.buttonActive {
  background-color: rgba(0, 0, 0, 0.5);
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.button:active:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
.bad {
  color: red;
}
.normal {
  color: #ffbf00;
}
.good {
  color: green;
}
.editForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
