/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* Уменьшаем высоту строк */
  -webkit-text-size-adjust: 100%; /* Предотвращаем изменение размера текста на мобильных устройствах */
}

body {
  font-family: Arial, sans-serif; /* Устанавливаем стандартный шрифт */
  font-size: 16px; /* Устанавливаем размер шрифта */
  font-weight: normal; /* Устанавливаем нормальный вес шрифта */
  color: #000; /* Устанавливаем цвет текста по умолчанию */
  background-color: #fff; /* Устанавливаем цвет фона по умолчанию */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; /* Убираем жирный шрифт у заголовков */
}

ul, ol {
  list-style: none; /* Убираем маркеры у списков */
}

a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  color: inherit; /* Устанавливаем цвет ссылок по умолчанию */
}

img {
  max-width: 100%; /* Устанавливаем максимальную ширину изображений */
  height: auto; /* Устанавливаем автоматическую высоту изображений */
}

